<div class = "wrapper-user">
  <%= render "shared/header" %>
  <div class = "middle">
    <div class="registration-contents-user">
      <div class="contents-box-user">
        <legend>ユーザー編集</legend>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <div class="error_messages"><%= devise_error_messages! %></div>
          <div class="field">
            <%= f.label :ニックネーム %> <em>(6文字以内)</em><br />
            <%= f.text_field :nickname, autofocus: true, class: "field-user-text" , maxlength: "6" %>
          </div>
          <div class="field-user">
            <%= f.label :Eメール %><br />
            <%= f.email_field :email, autofocus: true, class: "field-user-text"  %>
          </div>
          <div class="field-user">
            <%= f.label :姓 %><br />
            <%= f.text_field :last_name, autofocus: true, class: "field-user-text" %>
          </div>
          <div class="field-user">
            <%= f.label :名前 %><br />
            <%= f.text_field :first_name, autofocus: true, class: "field-user-text" %>
          </div>
          <div class="field-user">
            <%= f.label :自己紹介 %><br />
            <%= f.text_area :introduction, autofocus: true, class: "field-introduction-text" %>
          </div>
          <br>
          <div class="actions-user">
            <input type="submit" value="登録" class="btn">
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "footer">
  </div>
</div>