<div class="wrapper">
  <%= render "shared/header" %>
  <div class="plofile">
    <div class="plofile-name">
      <p> <%=@user.nickname%> </p>
    </div>
    <% if @user.introduction.present?%>
      <div class="plofile-introduction">
        <p> <%=@user.introduction%> </p>
      </div>
    <% end %>
    <div class="plofile-status">
      <div class="plofile-status-contents">
        <p>投稿数</p>
        <p> <%=@tips.length%> </p>
      </div>
      <div class="plofile-status-contents">
        <p>コメント数</p>
        <p> <%=@user.comments.length%> </p>
      </div>
      <div class="plofile-status-contents">
        <p>いいね数</p>
        <p> <%=@user.likes.length%> </p>
      </div>
    </div>
  </div>
  <div class="main-top">
    <div class="new-tip-title">
      <p class="tiplist-likelist"> 投稿一覧</p>
    </div>
    <div class="like-appear">
      <a href="#" class="like-appear-str">いいね一覧 >></a>
    </div>
  </div>
  <div class="mypage-area">
    <div id="tip-list-area">
      <%= render "tips/main_search_area" %>
    </div>
    <div id="like-list-area" style="display:none;">
      <%= render "tips/like_area" %>
    </div>
  </div>
  <% if user_signed_in? && current_user.id == @user.id%>
    <div class="edit-delete-area">
      <div class="show-edit">
        <div class="btn-edit">
          <%= link_to 'ユーザー編集', edit_user_registration_path(current_user.id), class: "btn-edit-str" %>
        </div>
      </div>
      <div class="show-delete">
        <div class="btn-delete">
          <%= link_to '　退会する　', user_path(current_user.id), method: :delete, class: "btn-delete-str", "data-confirm" => "本当に退会しますか？" %>
        </div>
      </div>
    </div>
  <% end %>
</div>