<div class="wrapper">
  <%= render "shared/header" %>
  <div class="plofile">
    <div class="plofile-name">
      <p> <%=@user.nickname%> </p>
    </div>
    <% if @user.introduction.present?%>
      <div class="plofile-introduction">
        <p> <%=@user.introduction%> </p>
      </div>
    <% end %>
    <div class="plofile-status">
      <div class="plofile-status-contents">
        <p>投稿数</p>
        <p> <%=@tips.length%> </p>
      </div>
      <div class="plofile-status-contents">
        <p>コメント数</p>
        <p> <%=@user.comments.length%> </p>
      </div>
      <div class="plofile-status-contents">
        <p>いいね数</p>
        <p> <%=@user.likes.length%> </p>
      </div>
    </div>
  </div>
  <div class="main-top">
    <div class="new-tip-title">
      <p> 投稿一覧</p>
    </div>
    <div class="like-appear">
        <a>いいね一覧</a>
    </div>
  </div>
  <div class="mypage-area">
    <div>
      <%= render "tips/main_search_area" %>
    </div>
    <div style="display:none;">
      <%= render "tips/like_area" %>
    </div>
  </div>
</div>