<div class="main-top">
  <div class="new-tip-title">
    <p>最新の投稿</p>
  </div>
  <div class="search-area">
    <div>
      <input class="search-form"placeholder= " キーワードを入力">
    </div>
    <input  value="検索" class="search-button">
  </div>
</div>
<% @tips.each do |f| %>
  <div class="tiped">
    <div class="tiped-description">
      <h3 class="tiped-title"><%= f.title %></h3>
      <p class="tiped-title-contents">投稿時間 :  <%= l f.created_at%></p>
      <p class="tiped-title-contents">カテゴリー :  <%= Category.data[f.category_id][:name] %></p>
      <p class="tiped-title-contents">投稿者 :  <%= f.user.nickname%></p>
      <p class="tiped-title-contents">説明 :  <%= f.description%></p>
    </div>
    <div class="tiped-image-field">
      <div class="main-image", id="main-image">
        <% if f.image.present? %>
          <%= image_tag f.image, class: 'uped-image-main' %>
        <% else %>
          <%= link_to image_tag("noimage.jpg", class:"no-image-main") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

