<div class="new-tip">
  <%= link_to "新規投稿", new_tip_path%>
</div>
<div class="new-question">
  <a>質問する</a>
</div>
<% if user_signed_in? %>
  <div class="my-page">
    <%= link_to "マイページ", "/users/#{current_user.id}" %>
  </div>
<% end %>
<div class="search">
  <a id="search">詳細検索</a>
</div>
<div class="detail-search-area" id="detail-search-area" >
  <%= search_form_for @t, url: detail_search_tips_path do |f| %>
    <div class="search-title-area">
      <p>タイトル：</p>
        <div>
          <%= f.text_field :title_cont, placeholder:"タイトルを入力", class:"search-title" %>
        </div>
    </div>
    <div class="search-tag-area">
      <p>タグ：</p>
      <div>
        <%= f.text_field :tip_tag_relations_tag_name_cont, placeholder:"タグを入力", class:"search-title" %>
      </div>
    </div>
    <div class="search-category-area">
      <p>カテゴリー：</p>
      <div>
        <%= f.collection_select(:category_id_eq, @category, :id, :name, { include_blank: '--'}) %>
      </div>
    </div>
    <div class="search-distributer-area">
      <p>ユーザー：</p>
      <div>
        <%= f.text_field :user_nickname_cont, placeholder:"ユーザー名を入力", class: "search-distributer" %>
      </div>
    </div>
    <div class="search-description-area">
      <p>説明：</p>
      <div>
        <%= f.text_field :description_cont, placeholder:"キーワードを入力", class: "search-discription" %>
      </div>
    </div>
    <%= f.submit '検索', class: "search-submit" %>
  <% end %>
</div>