<div class="new-tip">
  <%= link_to "新規投稿", new_tip_path%>
</div>
<div class="new-question">
  <a>質問する</a>
</div>
<% if user_signed_in? %>
  <div class="my-page">
    <%= link_to "マイページ", "/users/#{current_user.id}" %>
  </div>
<% end %>
<div class="search">
  <a href="">詳細検索</a>
</div>

<div class="detail-search-area">
  <%= search_form_for @t, url: detail_search_tips_path do |f| %>
    <div class="search-title-area">
      <p>タイトル：</p>
        <div>
          <%= f.text_field :title_cont, placeholder:"タイトルを入力", class:"search-title" %>
        </div>
    </div>
    <div class="search-tag-area">
      <p>タグ：</p>
      <div>
        <%= f.text_field :_cont, class:"search-title" %>
      </div>
    </div>
    <div class="search-category-area">
      <p>カテゴリー：</p>
      <div>
        <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {}, {class:"search-category"}) %>
      </div>
    </div>
    <div class="search-distributer-area">
      <p>投稿者：</p>
      <div>
        <input type="text" class="search-distributer">
      </div>
    </div>
    <div class="search-discription-area">
      <p>説明：</p>
      <div>
        <%= f.text_field :description_cont, placeholder:"キーワードを入力", class: "search-discription" %>
      </div>
    </div>
    <br>
    <%= f.submit '検索' %>
  <% end %>
</div>