<div class="back">
  <div class=top>
    <%= render "top" %>
  </div>
  <div class="main">
    <div class="side-bar">
      <%=render "side_bar" %>
    </div>
    <div class="main-area">
      <div class="main-top">
        <div class="new-tip-title">
          <% if current_page?(root_path) %>
            <p>最新の投稿</p>
          <% else %>
            <p>検索結果</p>
          <% end %>
        </div>
        <div class="search-area">
            <%= form_with(url: search_tips_path, local: true, method: :get, class: "search-area-form") do |form| %>
              <%= form.text_field :keyword, placeholder: "キーワードを入力", class: "search-form" %>
              <%= form.submit "検索", class: "search-button" %>
            <% end %>
        </div>
      </div>
      <% if @results.length !=0 %>
        <% @results.each do |f| %>
          <%= render partial: "tiped", locals: { f: f } %>
        <% end %>
      <% else %>
        <p class="search-nil">投稿はありません</p>
        <div  class="search-to-top">
          <a href="/"><< トップページへ戻る</a>
        </div>
      <% end %>
    </div>
</div>