<div class = "wrapper">
  <%= render "shared/header" %>
  <div class="main-tips-new">
    <div class = "new-tip-string">
      <p>新規投稿</p>
    </div>
    <%= form_with(model: @tip, local: true) do |form| %>
      <div class="tip-title">
        <p>タイトル</p>
        <div class="tip-title-content">
          <%= form.text_field :title, placeholder: "" %>
        </div>
      </div>
      <div class="tip-category">
        <p>カテゴリー</p>
        <div class="tip-category-content">
          <%= form.text_field :category, placeholder:"" %>
        </div>
      </div>
      <div class="tip-images">
        <div class="tip-image-main">
          <p class="tip-image-main-text">画像(メイン)</p>
          <%= form.file_field :image, class: 'tip-image-main-img' %>
        </div>
        <div class="tip-image-sub">
          <p class="tip-image-sub-text">画像（サブ）</p>
          <div class="tip-image-sub-images">
            <%= form.file_field :image, class: 'tip-image-sub-img' %>
            <%= form.file_field :image, class: 'tip-image-sub-img' %>
            <%= form.file_field :image, class: 'tip-image-sub-img' %>
          </div>
        </div>
      </div>
      <div class="tip-description">
        <p class="tip-description-text">説明</p>
        <%= form.text_field :description, placeholder:"", class: 'text-form' %>
      </div>
    <% end %>
  </div>
</div>