<div class = "wrapper">
  <%= render "shared/header" %>
  <div class="main-tips-show">
    <div class="tip-title">
      <p class="tip-title-show">タイトル</p>
    </div>
    <div class="slider">
      <div class="image-show">
        <%if @tip.image.present?%>
        <%= image_tag @tip.image, class: 'image-show-content' %>
        <% else %>
        <%= image_tag "noimage.jpg", class:"image-show-content-none" %>
        <% end %>
      </div>
            <div class="image-show">
        <%if @tip.image.present?%>
        <%= image_tag @tip.image, class: 'image-show-content' %>
        <% else %>
        <%= image_tag "noimage.jpg", class:"image-show-content-none" %>
        <% end %>
      </div>
            <div class="image-show">
        <%if @tip.image.present?%>
        <%= image_tag @tip.image, class: 'image-show-content' %>
        <% else %>
        <%= image_tag "noimage.jpg", class:"image-show-content-none" %>
        <% end %>
      </div>
    </div>
    <div class="tip-category">
      <p>カテゴリー : <%= Category.data[@tip.category_id - 1][:name] %></p>
    </div>
    <div class="tip-contributer">
      <p>投稿者 : <%= @tip.user.nickname %> </p>
    </div>
    <div class="tip-description">
      <p>説明 :  </p>
      <%= @tip.description %>
    </div>
  </div>
  <div class="edit-delete-area">
    <div >
      <input type="submit" value="編集" class="btn-edit">
    </div>
    <div>
      <input type="submit" value="削除" class="btn-edit">
    </div>
  </div>
</div>